<div class="nav">
  <a routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="navbar-items">Home</a>
  <a routerLink="group"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="navbar-items">Group</a>
  <a routerLink="chat" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="navbar-items">Chat</a>
  <a routerLink="contactus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="navbar-items">Contact Us</a>
  <a routerLink="login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="navbar-items">Login</a>
</div>
<div class="login-form">

  <router-outlet></router-outlet>

</div>
