.home-box{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 3rem;
  background: #d3d1d1;
}

.nickname{
  border: 1px solid rgb(9, 9, 9);
  border-radius: 20px ;
  background: black;
  color: #d0cbcb;
  padding: 0.3rem;
  margin: 0;

}

.content-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  border: 1px solid rgb(108, 105, 105);
  border-radius: 20px ;
  color: black;
  padding: 5px;
  margin-bottom: 5px;
}
.content{
  flex: 1;
}

.date{
  display: flex;
  justify-content: flex-end;

}
.images{
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
  margin-left: 8px;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
}


svg{
  height: 50px;
  width: 50px;
  cursor: pointer ;

}

span{
  font-size: 25px;
}

.comment{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

}

textarea{
  width: 170px;
  height: 60px;
  resize: none;
  outline: none;
  border: 1px solid #efc3ef;
  font-size: 15px;
  margin-right: 4px ;

}
textarea:focus{
  border: 1px solid #f380f3;
}
.share-icon{
  margin: auto;
}
.allComment{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
