.home-box{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 390px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 3rem;
  background: #d3d1d1;
}

.nickname{
  border: 1px solid rgb(9, 9, 9);
  border-radius: 20px ;
  background: black;
  color: #d0cbcb;
  padding: 0.3rem;
  margin: 0;

}

.content-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  border: 1px solid rgb(108, 105, 105);
  border-radius: 20px ;
  color: black;
  padding: 5px;
  margin-bottom: 5px;
}
.content{
  flex: 1;
}

.date{
  display: flex;
  justify-content: flex-end;

}
.images{
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
  margin-left: 8px;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
}


svg{
  height: 50px;
  width: 50px;
  cursor: pointer ;

}

span{
  font-size: 25px;
}


.create-post{
  position: fixed;
  top: 50%;
  left: 80%;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.post-input{
  outline: none;
  height: 2rem;
  width: fit-content;
  border-radius: 10px ;
  font-size: 15px;
  margin-bottom: 10px;
  border: 1px solid #e337e3;
}
.cratePost-button{
  height: 2rem;
  border-radius: 10px ;
  font-size: 15px;
  background: #ee7fee;
  border: 1px solid #ee7fee;
  margin-left: 5px;
  cursor: pointer;
}
